body {
	margin: 0;
	padding: 0;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #ffffff;


	background-color: #849d8f;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Универсальный класс 
для скрытых эл-тов */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

			clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

/*ul {
	list-style: none; 
	margin: 0;
	padding: 0;
}*/

a {
	color: #ffffff;
}

.container {
	padding: 0 27px;
	margin: 0 auto;
	width: 1146px;
}

.menu-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.site-navigation {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	list-style: none; 
	margin: 0;
	padding: 0;
	width: 401px;
}

/*.site-navigation-link {
	display: inline-block;
	margin-top: 5px;
	text-align: center;
	vertical-align: middle;

	border-bottom: 1px solid #9fb3a8;
}*/

.site-logo {
	margin: 0;
	padding: 0;
	margin-top: 9px;
	margin-right: 24px;
	min-width: 154px;
	height: 64px;
}

.catalog {
	position: relative;
	display: inline-block;
	padding-top: 9px;
	padding-bottom: 1px;
	margin-right: 27px;
	
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #9fb3a8;
}

.catalog:hover > a {
	position: relative;
	display: inline-block;
	min-width: 60px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 0;
	margin-left: -15px;
	margin-right: -15px;
	
	border-radius: 50px;

	color: #323232;
	background-color: #f7f6f3;
	vertical-align: middle;
	text-align: center;
	
	/*border-top-left-radius: 14px;*/
	/* border-top-right-radius: 14px; */
	/* border-bottom-right-radius: 14px; */
	/* border-bottom-left-radius: 14px; */
}

.main-navigation {
	display: flex;
	flex-wrap: wrap;
	/*margin-right: 344px;*/
	flex-grow: 1;
}

.site-navigation .submenu {
	position: absolute;
	width: 143px;
	left: -20px;
	top: 43px;
	padding: 0;
	/*padding-left: 19px;*/
	
	border-radius: 5px;
	background-color: #f8f7f4;
	box-shadow: 0px 20px 20px 0 
				rgba(0, 0, 0, 0.4);
	text-align: left;
	list-style: none;
	z-index: 5;
}

.submenu-item:first-child {
	padding-top: 10px;
	padding-right: 19px;
	padding-bottom: 11px;
	padding-left: 19px;
	
}

.submenu-item:first-child a {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #323232;
	/*width: 128px;*/
	/*border-bottom: 1px solid #d1d0ce;*/
}

.line {
	width: 128px;
	margin-left: 6px;
	height: 1px;
	background: #d1d0ce;
	/*margin-bottom: 8px;*/
}

.submenu-item:nth-child(3) {
	padding-top: 8px;
	padding-right: 19px;
	padding-bottom: 7px;
	padding-left: 19px;
}

.submenu-item:nth-child(3):hover {
	background-color: #fbded7;
}

.submenu-item:nth-child(4) {
	padding-top: 7px;
	padding-right: 19px;
	padding-bottom: 6px;
	padding-left: 19px;
}

.submenu-item:nth-child(4):hover {
	background-color: #fbded7;
}

.submenu-item:nth-child(5) {
	padding-top: 6px;
	padding-right: 19px;
	padding-bottom: 7px;
	padding-left: 19px;

}

.submenu-item:nth-child(5):hover {
	background-color: #fbded7;
}

.submenu-item:nth-child(6) {
	padding-top: 6px;
	padding-right: 19px;
	padding-bottom: 13px;
	padding-left: 19px;
}

.submenu-item:nth-child(6):hover {
	background-color: #fbded7;
}

.submenu {
	display: none;
}

.submenu-item a {
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	color: #323232;
	list-style: none;
}

.site-navigation-item:hover .submenu {
	display: block;
	
}

.delivery-pay {
	position: relative;
	display: inline-block;
	padding-top: 9px;
	padding-bottom: 1px;
	margin-right: 27px;
	
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #9fb3a8;
}

.delivery-pay:hover > a {
	position: relative;
	display: inline-block;
	min-width: 60px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 0;
	margin-left: -15px;
	margin-right: -15px;
	
	border-radius: 50px;

	color: #323232;
	background-color: #f7f6f3;
	vertical-align: middle;
	text-align: center;
	
	/*border-top-left-radius: 14px;*/
	/* border-top-right-radius: 14px; */
	/* border-bottom-right-radius: 14px; */
	/* border-bottom-left-radius: 14px; */
}

.about-company {
	position: relative;
	display: inline-block;
	padding-top: 9px;
	padding-bottom: 1px;
	margin-right: 27px;
	
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #9fb3a8;
}

.about-company:hover > a {
	position: relative;
	display: inline-block;
	min-width: 60px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 0;
	margin-left: -15px;
	margin-right: -15px;
	
	border-radius: 50px;

	color: #323232;
	background-color: #f7f6f3;
	vertical-align: middle;
	text-align: center;
	
	/*border-top-left-radius: 14px;*/
	/* border-top-right-radius: 14px; */
	/* border-bottom-right-radius: 14px; */
	/* border-bottom-left-radius: 14px; */
}

.user-navigation {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-right: 9px;
	width: 135px;
}

.user-navigation-items {
	margin: 0;
	padding: 0;
}

.cart {
	width: 100px;
	margin: 0;
	padding: 0;
}

.btn-search {
	display: inline-block;

	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 7px;
	min-width: 18px;
	margin-top: 4px;
	margin-right: 6px;
	border-radius: 50%;

	text-align: center;
	vertical-align: middle;

	background-color: #a0b4a9;
}

.user-login svg {
	position: absolute;
	top: 7px;
	left: 17px;
}

.btn-login {
	display: inline-block;

	padding-top: 7px;
	padding-right: 16px;
	padding-bottom: 7px;
	padding-left: 16px;
	min-width: 61px;
	border-radius: 50px;

	text-align: center;
	vertical-align: middle;

	background-color: #a0b4a9;
}

.user-cart svg {
	position: absolute;
	top: 7px;
	left: 16px;
}

.btn-cart {
	position: relative;
	display: inline-block;

	padding-top: 7px;
	padding-right: 17px;
	padding-bottom: 7px;
	padding-left: 14px;
	min-width: 67px;
	border-radius: 50px;

	text-align: center;
	vertical-align: middle;

	background-color: #a0b4a9;
}

.user-search,
.user-login {
	position: relative;
}

.user-login a,
.user-cart a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.user-login a {
	padding-left: 25px;
}

.search-form {
	position: absolute;
	left: -165px;
	top: 20px;
	margin: 0;
	padding: 0;
}

.search-form {
	display: none;
}

.user-search:hover .search-form {
	display: block;
}

.login-form {
	position: absolute;
	left: -165px;
	top: 20px;
	margin: 0;
	padding: 0;
}

.login-form {
	display: none;
}

.user-login:hover .login-form {
	display: block;
}

.cart-item {
	margin: 0;
	padding: 0;
}

.user-cart a {
	padding-left: 30px;
}

.user-contact-block {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 200px;
	margin-left: auto;
}

.working-time,
.contact-phone {
	margin: 0;
	padding: 0;
}

.working-time {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	margin-bottom: 4px;
}

.contact-phone {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
}

/*.contact-phone a {
	display: inline-block;
}*/